@charset "utf-8";
body {
  cursor: default;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  -webkit-user-select: none;
}
img {
  -webkit-user-drag: none;
}
#prividenie {
  display: -webkit-box;
}
#prividenie .leftbox {
  width: 300px;
}
#prividenie .leftbox #balloon {
  margin: 50px 0 0 10px;
  border-radius: 10px;
  max-height: 500px;
  background: rgba(60, 60, 60, 0.7);
  color: #fff;
}
#prividenie .leftbox #message {
  padding: 10px;
}
#prividenie .rightbox {
  width: 250px;
  height: 538px;
  position: relative;
}
#prividenie .rightbox #avatar {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  -webkit-app-region: drag;
}
#prividenie .rightbox .shadow {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 170px;
}
#twitter {
  display: none;
}
